name: build

on:
  - pull_request
  - workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - run: bun run prod
      - uses: mad9000/actions-find-and-replace-string@5
        id: cleaned_ref_name
        with:
          source: ${{ github.ref_name }}
          find: "/"
          replace: "-"
      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.cleaned_ref_name.outputs.value }}
          path: dist
